build/
out/
.cache/
.vscode/
.idea/
*.user
*.log
compile_commands.json
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.a
*.lib
*.pdb
*.pyc
__pycache__/
test_sandbox/
projects/demo_game/content/assets/fixture/
projects/demo_game/content/assets/testmanny/
