build/
out/
.cache/
.vscode/
.idea/
*.user
*.log
!build_logs/*.log
imgui.ini
compile_commands.json
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.a
*.lib
*.pdb
*.pyc
__pycache__/
test_sandbox/
NECESSARY TRANSFERS/
build/content_cache/
projects/demo_game/content/assets/fixture/
projects/demo_game/content/assets/testmanny/
